<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Avengers</string>
		<key>measure</key>
		<string> 150 phut</string>
		<key>photo</key>
		<string>Avengers</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jurassic World</string>
		<key>measure</key>
		<string>124 phut</string>
		<key>photo</key>
		<string>JurassicWorld</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hit Man</string>
		<key>measure</key>
		<string>108 phut</string>
		<key>photo</key>
		<string>HitMan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>U.N.C.L.E</string>
		<key>measure</key>
		<string>116 phut</string>
		<key>photo</key>
		<string>UNCLE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Everest</string>
		<key>measure</key>
		<string>121 phut</string>
		<key>photo</key>
		<string>Everest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fantastic</string>
		<key>measure</key>
		<string>100 phut</string>
		<key>photo</key>
		<string>Fantastic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ScorchTrials</string>
		<key>measure</key>
		<string>132 phut</string>
		<key>photo</key>
		<string>ScorchTrials</string>
	</dict>
</array>
</plist>
